flows/OppAppointmentEmailFlow1-10.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Online_Appointmnet_Email</name>
        <label>Send SPD Online Appointmnet Email</label>
        <locationX>872</locationX>
        <locationY>68</locationY>
        <actionName>Opportunity.Online_Appointment_notification_email_alert_to_contact_and_Res_Opp_Recipient</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Appoitment_Task</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varOppId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Site_Appointment_Email</name>
        <label>Send Site Appointment Email</label>
        <locationX>880</locationX>
        <locationY>314</locationY>
        <actionName>Opportunity.Site_Appointment_notification_email_alert_to_contact_and_opp_owner</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Appoitment_Task</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varOppId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_SunPower_New_Homes_Online_Appointmnet_Email</name>
        <label>Send SunPower New Homes Online Appointmnet Email</label>
        <locationX>864</locationX>
        <locationY>186</locationY>
        <actionName>Opportunity.NewHomesOpportunity_Appt_Confirmation</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varOppId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <description>Assign the identifed lookup variables to local variables</description>
        <name>Assign_values_to_variables</name>
        <label>Assign values to variables</label>
        <locationX>472</locationX>
        <locationY>214</locationY>
        <assignmentItems>
            <assignToReference>varAppointmnetDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOppFastLookup.Appointment_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAppointmentDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOppFastLookup.Appointment_Date_Time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAppointmentTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOppFastLookup.Appointment_Time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMeetingLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOppFastLookup.Meeting_Link__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varConsultationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOppFastLookup.Consultation_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOppFastLookup.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPartnerAccountType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOppFastLookup.Partner_Account_text__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Online_Meeting</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Online_Meeting</name>
        <label>Is Online Meeting?</label>
        <locationX>656</locationX>
        <locationY>216</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>An_Online_Meeting</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND (6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>varMeetingLink</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varMeetingLink</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAppointmnetDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAppointmentTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varConsultationType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Online</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPartnerAccountType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varSPDAccountNameHolder</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPartnerAccountType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varSunPowerNewHomesAccountNameHolder</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isSPD</targetReference>
            </connector>
            <label>An Online Meeting</label>
        </rules>
        <rules>
            <name>Onsite_Meeting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAppointmnetDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAppointmentTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varConsultationType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In-Person</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPartnerAccountType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varSunPowerNewHomesAccountNameHolder</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Site_Appointment_Email</targetReference>
            </connector>
            <label>Onsite Meeting</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Opportunity_Object_Value_Is_Null</name>
        <label>is Opportunity Object Value Is Null?</label>
        <locationX>249</locationX>
        <locationY>214</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Opp_Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOppFastLookup</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Opportunity_for_SunPowerNewHomes_appointment_email</targetReference>
            </connector>
            <label>Opp Is Null</label>
        </rules>
        <rules>
            <name>Opp_Is_Not_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOppFastLookup</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_values_to_variables</targetReference>
            </connector>
            <label>Opp Is Not NULL</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decide if oportunity is found or not</description>
        <name>isNull</name>
        <label>isNull?</label>
        <locationX>469</locationX>
        <locationY>14</locationY>
        <defaultConnector>
            <targetReference>Assign_values_to_variables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>oppNotFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOppFastLookup</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>oppNotFound</label>
        </rules>
    </decisions>
    <decisions>
        <name>isSPD</name>
        <label>isSPD?</label>
        <locationX>656</locationX>
        <locationY>63</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPartnerAccountType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varSPDAccountNameHolder</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Online_Appointmnet_Email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPartnerAccountType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varSunPowerNewHomesAccountNameHolder</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_SunPower_New_Homes_Online_Appointmnet_Email</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Flow to send appointmnet emails</description>
    <interviewLabel>OppAppointmentEmailFlow1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OppAppointmentEmailFlow1</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Appoitment_Task</name>
        <label>Create Appoitment Task</label>
        <locationX>1051</locationX>
        <locationY>207</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>varAppointmnetDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Appointment_Date__c</field>
            <value>
                <elementReference>varAppointmnetDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Appointment_Time__c</field>
            <value>
                <elementReference>varAppointmentTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varOppFastLookup.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Appointment Rescheduled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varOppId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Opportunity_for_appointment_email</name>
        <label>Lookup Opportunity for appointment email</label>
        <locationX>48</locationX>
        <locationY>218</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_Opportunity_Object_Value_Is_Null</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Partner_Account_text__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varSPDAccountNameHolder</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>varOppFastLookup</outputReference>
        <queriedFields>Appointment_Date__c</queriedFields>
        <queriedFields>Appointment_Time__c</queriedFields>
        <queriedFields>Appointment_Date_Time__c</queriedFields>
        <queriedFields>Meeting_Link__c</queriedFields>
        <queriedFields>Consultation_Type__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Partner_Account_text__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Opportunity_for_SunPowerNewHomes_appointment_email</name>
        <label>Lookup Opportunity for SunPowerNewHomes appointment email</label>
        <locationX>249</locationX>
        <locationY>17</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isNull</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Partner_Account_text__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSunPowerNewHomesAccountNameHolder</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>varOppFastLookup</outputReference>
        <queriedFields>Appointment_Date__c</queriedFields>
        <queriedFields>Appointment_Time__c</queriedFields>
        <queriedFields>Appointment_Date_Time__c</queriedFields>
        <queriedFields>Meeting_Link__c</queriedFields>
        <queriedFields>Consultation_Type__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Partner_Account_text__c</queriedFields>
    </recordLookups>
    <startElementReference>Lookup_Opportunity_for_appointment_email</startElementReference>
    <variables>
        <description>Appointment date time</description>
        <name>varAppointmentDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>local variable to store time</description>
        <name>varAppointmentTime</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>local variable to store date</description>
        <name>varAppointmnetDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>var to store local data</description>
        <name>varConsultationType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Local variable to store meeting link</description>
        <name>varMeetingLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Variable to store Opportunity Object</description>
        <name>varOppFastLookup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>Local variable to capture Opportunity Id</description>
        <name>varOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>var to store local data</description>
        <name>varOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Partner Account Type, whether it is SPD or New Homes</description>
        <name>varPartnerAccountType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>variable to hold SPD Account Name</description>
        <name>varSPDAccountNameHolder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>SunPower Direct (SPD)</stringValue>
        </value>
    </variables>
    <variables>
        <description>Variable to store SunPower New Homes Name</description>
        <name>varSunPowerNewHomesAccountNameHolder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>SunPower New Homes</stringValue>
        </value>
    </variables>
</Flow>
