flows/OppAppointmentEmailFlow1-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Online_Appointmnet_Email</name>
        <label>Send Online Appointmnet Email</label>
        <locationX>878</locationX>
        <locationY>104</locationY>
        <actionName>Opportunity.Online_Appointment_notification_email_alert_to_contact_and_Res_Opp_Recipient</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Appoitment_Task</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varOppId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Site_Appointment_Email</name>
        <label>Send Site Appointment Email</label>
        <locationX>882</locationX>
        <locationY>255</locationY>
        <actionName>Opportunity.Site_Appointment_notification_email_alert_to_contact_and_opp_owner</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Appoitment_Task</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varOppId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <description>Assign the identifed lookup variables to local variables</description>
        <name>Assign_values_to_variables</name>
        <label>Assign values to variables</label>
        <locationX>472</locationX>
        <locationY>214</locationY>
        <assignmentItems>
            <assignToReference>varAppointmnetDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOppFastLookup.Appointment_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAppointmentDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOppFastLookup.Appointment_Date_Time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAppointmentTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOppFastLookup.Appointment_Time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMeetingLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOppFastLookup.Meeting_Link__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varConsultationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOppFastLookup.Consultation_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOppFastLookup.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Online_Meeting</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Online_Meeting</name>
        <label>Is Online Meeting?</label>
        <locationX>646</locationX>
        <locationY>186</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>An_Online_Meeting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varMeetingLink</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varMeetingLink</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAppointmnetDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAppointmentTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varConsultationType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Online</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Online_Appointmnet_Email</targetReference>
            </connector>
            <label>An Online Meeting</label>
        </rules>
        <rules>
            <name>Onsite_Meeting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAppointmnetDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAppointmentTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varConsultationType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In-Person</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Site_Appointment_Email</targetReference>
            </connector>
            <label>Onsite Meeting</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decide if oportunity is found or not</description>
        <name>isNull</name>
        <label>isNull?</label>
        <locationX>245</locationX>
        <locationY>212</locationY>
        <defaultConnector>
            <targetReference>Assign_values_to_variables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>oppNotFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOppFastLookup</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>oppNotFound</label>
        </rules>
    </decisions>
    <description>Flow to send appointmnet emails</description>
    <interviewLabel>OppAppointmentEmailFlow1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OppAppointmentEmailFlow1</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Appoitment_Task</name>
        <label>Create Appoitment Task</label>
        <locationX>1052</locationX>
        <locationY>167</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>varAppointmnetDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Appointment_Date__c</field>
            <value>
                <elementReference>varAppointmnetDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Appointment_Time__c</field>
            <value>
                <elementReference>varAppointmentTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varOppFastLookup.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Customer Consultation</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Opportunity_for_appointment_email</name>
        <label>Lookup Opportunity for appointment email</label>
        <locationX>113</locationX>
        <locationY>110</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isNull</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Partner_Account_text__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varSPDAccountNameHolder</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>varOppFastLookup</outputReference>
        <queriedFields>Appointment_Date__c</queriedFields>
        <queriedFields>Appointment_Time__c</queriedFields>
        <queriedFields>Appointment_Date_Time__c</queriedFields>
        <queriedFields>Meeting_Link__c</queriedFields>
        <queriedFields>Consultation_Type__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <startElementReference>Lookup_Opportunity_for_appointment_email</startElementReference>
    <variables>
        <description>Appointment date time</description>
        <name>varAppointmentDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>local variable to store time</description>
        <name>varAppointmentTime</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>local variable to store date</description>
        <name>varAppointmnetDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>var to store local data</description>
        <name>varConsultationType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Local variable to store meeting link</description>
        <name>varMeetingLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Variable to store Opportunity Object</description>
        <name>varOppFastLookup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>Local variable to capture Opportunity Id</description>
        <name>varOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>var to store local data</description>
        <name>varOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>variable to hold SPD Account Name</description>
        <name>varSPDAccountNameHolder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>SPD</stringValue>
        </value>
    </variables>
</Flow>
