flows/PM_Ad_Hoc_Task_Notification-5.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>textJson</name>
            <value>
                <stringValue>{&quot;mentions&quot;:[],&quot;message&quot;:&quot;@[{![Project_Task__c].Assigned_To__r.Id}] You have a been assigned an ad hoc task by {![Project_Task__c].CreatedBy.FirstName} {![Project_Task__c].CreatedBy.LastName}. The task status is {![Project_Task__c].Status__c} and the task priority is {![Project_Task__c].Project_Priority__c}. The task creator did not specify a task start or due date.&quot;}</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Notify Assigned To User</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!myVariable_current.Assigned_To__r.Id}] You have a been assigned an ad hoc task by {!myVariable_current.CreatedBy.FirstName} {!myVariable_current.CreatedBy.LastName}. The task status is {!myVariable_current.Status__c} and the task priority is {!myVariable_current.Project_Priority__c}. The task creator did not specify a task start or due date.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>textJson</name>
            <value>
                <stringValue>{&quot;mentions&quot;:[],&quot;message&quot;:&quot;@[{![Project_Task__c].Assigned_To__r.Id}] You have a been assigned an ad hoc task by {![Project_Task__c].CreatedBy.FirstName} {![Project_Task__c].CreatedBy.LastName}. The task status is {![Project_Task__c].Status__c} and the task priority is {![Project_Task__c].Project_Priority__c}. The task assignee has requested that you begin working on this task {![Project_Task__c].Start_DateTime__c} and complete the task no later than {![Project_Task__c].Due_Date__c}.&quot;}</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Notify Assigned To User</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!myVariable_current.Assigned_To__r.Id}] You have a been assigned an ad hoc task by {!myVariable_current.CreatedBy.FirstName} {!myVariable_current.CreatedBy.LastName}. The task status is {!myVariable_current.Status__c} and the task priority is {!myVariable_current.Project_Priority__c}. The task assignee has requested that you begin working on this task {!myVariable_current.Start_DateTime__c} and complete the task no later than {!myVariable_current.Due_Date__c}.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>textJson</name>
            <value>
                <stringValue>{&quot;mentions&quot;:[],&quot;message&quot;:&quot;@[{![Project_Task__c].CreatedBy.Id}] This task has been completed.&quot;}</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>Notify Creator of Completion</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!myVariable_current.CreatedBy.Id}] This task has been completed.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>New Ad Hoc Task wo Due Date</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>New Ad Hoc Task with Due Date</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>Ad Hoc Task Completed</label>
        </rules>
    </decisions>
    <description>Notify Assigned To User on Ad Hoc Task</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND([Project_Task__c].RecordType.Name = &apos;Ad Hoc&apos;, OR(ISNEW() , PRIORVALUE([Project_Task__c].Assigned_To__c.Id) != [Project_Task__c].Assigned_To__c.Id) , [Project_Task__c].CreatedBy.Id  != [Project_Task__c].Assigned_To__c.Id, ISNULL([Project_Task__c].Due_Date__c)  )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND({!myVariable_current.RecordType.Name} = &apos;Ad Hoc&apos;, OR(ISNEW() , PRIORVALUE({!myVariable_current.Assigned_To__c.Id}) != {!myVariable_current.Assigned_To__c.Id}) , {!myVariable_current.CreatedBy.Id}  != {!myVariable_current.Assigned_To__c.Id}, ISNULL({!myVariable_current.Due_Date__c})  )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND([Project_Task__c].RecordType.Name = &apos;Ad Hoc&apos; , OR(ISNEW(), PRIORVALUE([Project_Task__c].Assigned_To__c.Id) != [Project_Task__c].Assigned_To__c.Id) , [Project_Task__c].CreatedBy.Id  != [Project_Task__c].Assigned_To__c.Id, NOT(ISNULL([Project_Task__c].Due_Date__c))  )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>AND({!myVariable_current.RecordType.Name} = &apos;Ad Hoc&apos; , OR(ISNEW(), PRIORVALUE({!myVariable_current.Assigned_To__c.Id}) != {!myVariable_current.Assigned_To__c.Id}) , {!myVariable_current.CreatedBy.Id}  != {!myVariable_current.Assigned_To__c.Id}, NOT(ISNULL({!myVariable_current.Due_Date__c}))  )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND( [Project_Task__c].RecordType.Name = &apos;Ad Hoc&apos; , [Project_Task__c].CreatedBy.Id  != [Project_Task__c].Assigned_To__c.Id, TEXT(PRIORVALUE([Project_Task__c].Status__c )) != &apos;Completed&apos;, TEXT([Project_Task__c].Status__c ) = &apos;Completed&apos;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>AND( {!myVariable_current.RecordType.Name} = &apos;Ad Hoc&apos; , {!myVariable_current.CreatedBy.Id}  != {!myVariable_current.Assigned_To__c.Id}, TEXT(PRIORVALUE({!myVariable_current.Status__c} )) != &apos;Completed&apos;, TEXT({!myVariable_current.Status__c} ) = &apos;Completed&apos;)</expression>
    </formulas>
    <interviewLabel>PM_Ad_Hoc_Task_Notification-5_Project_Task__c</interviewLabel>
    <label>PM - Ad Hoc Task Notification</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Project_Task__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Project_Task__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Task__c</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
