flows/SPVT_Case_Project_Owner_Task_Flow-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Task_Fields</name>
        <label>Set Task Fields</label>
        <locationX>570</locationX>
        <locationY>215</locationY>
        <assignmentItems>
            <assignToReference>task.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>case.Audited_By__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>case.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>taskSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>taskRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>taskDueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.Private__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>case.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Case_Decision</name>
        <label>Case Decision</label>
        <locationX>252</locationX>
        <locationY>217</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Project_Owner_Not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>case.Audited_By__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>case.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Task_Fields</targetReference>
            </connector>
            <label>Project Owner Not Blank</label>
        </rules>
    </decisions>
    <formulas>
        <name>taskDueDate</name>
        <dataType>Date</dataType>
        <expression>CASE(MOD(DATEVALUE({!case.CreatedDate})- DATE(1900, 1, 7), 7), 
	0, DATEVALUE({!case.CreatedDate})+3, 
	1, DATEVALUE({!case.CreatedDate})+3, 
	2, DATEVALUE({!case.CreatedDate})+3,
	3, DATEVALUE({!case.CreatedDate})+5, 
	4, DATEVALUE({!case.CreatedDate})+5, 
	5, DATEVALUE({!case.CreatedDate})+5, 
	6, DATEVALUE({!case.CreatedDate})+4,
	null)</expression>
    </formulas>
    <formulas>
        <name>taskSubject</name>
        <dataType>String</dataType>
        <expression>&apos;Design Review Assigned: &apos; &amp; {!case.CaseNumber} &amp; &apos; &apos; &amp; {!case.Subject}</expression>
    </formulas>
    <interviewLabel>SPVT Case Project Owner Task Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SPVT Case Project Owner Task Flow</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>757</locationX>
        <locationY>215</locationY>
        <inputReference>task</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Query_Case</name>
        <label>Query Case</label>
        <locationX>106</locationX>
        <locationY>217</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Decision</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPVT_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>case.AccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>case.Audited_By__c</assignToReference>
            <field>Audited_By__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>case.CaseNumber</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>case.ContactId</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>case.CreatedDate</assignToReference>
            <field>CreatedDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>case.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>case.Lease_Payment__c</assignToReference>
            <field>Lease_Payment__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>case.OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>case.Subject</assignToReference>
            <field>Subject</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Query_Case</startElementReference>
    <variables>
        <name>case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <description>SPVT Notification Task</description>
        <name>taskRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>01234000000BmSU</stringValue>
        </value>
    </variables>
</Flow>
