flows/SPVT_Pass_Lease_Payment_Flow-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Task_Fields</name>
        <label>Set Task Fields</label>
        <locationX>616</locationX>
        <locationY>206</locationY>
        <assignmentItems>
            <assignToReference>task.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>taskOwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>case.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>taskSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>taskRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>case.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Case_Decision</name>
        <label>Case Decision</label>
        <locationX>331</locationX>
        <locationY>205</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Task_Owner_Is_Not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>taskOwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Task_Fields</targetReference>
            </connector>
            <label>Task Owner Is Not Blank</label>
        </rules>
    </decisions>
    <formulas>
        <name>taskOwnerId</name>
        <dataType>String</dataType>
        <expression>IF(BEGINS({!case.OwnerId}, &apos;005&apos;), {!case.OwnerId}, null)</expression>
    </formulas>
    <formulas>
        <name>taskSubject</name>
        <dataType>String</dataType>
        <expression>&apos;SPVT changed to Pass - Case &apos; &amp; {!case.CaseNumber} &amp; &apos; - Contract &apos; &amp;  {!leasePayment.Lease__c} &amp; &apos; - &apos; &amp; {!leasePayment.Account_Name__c}</expression>
    </formulas>
    <interviewLabel>SPVT Pass Lease Payment Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SPVT Pass Lease Payment Flow</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>766</locationX>
        <locationY>206</locationY>
        <inputReference>task</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Query_Case</name>
        <label>Query Case</label>
        <locationX>180</locationX>
        <locationY>201</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Decision</targetReference>
        </connector>
        <filters>
            <field>Lease_Payment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>leasePayment.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPVT_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>case.AccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>case.Audited_By__c</assignToReference>
            <field>Audited_By__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>case.CaseNumber</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>case.ContactId</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>case.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>case.OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Query_Lease_Payment</name>
        <label>Query Lease Payment</label>
        <locationX>24</locationX>
        <locationY>198</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Query_Case</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>leasePaymentId</elementReference>
            </value>
        </filters>
        <object>LeasePayment__c</object>
        <outputAssignments>
            <assignToReference>leasePayment.Account_Name__c</assignToReference>
            <field>Account_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>leasePayment.Account__c</assignToReference>
            <field>Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>leasePayment.Contact__c</assignToReference>
            <field>Contact__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>leasePayment.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>leasePayment.Lease__c</assignToReference>
            <field>Lease__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>leasePayment.Quote__c</assignToReference>
            <field>Quote__c</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Query_Lease_Payment</startElementReference>
    <variables>
        <name>case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>leasePayment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LeasePayment__c</objectType>
    </variables>
    <variables>
        <name>leasePaymentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>taskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>SPVT Notification Task</description>
        <name>taskRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>01234000000BmSU</stringValue>
        </value>
    </variables>
</Flow>
