flows/SPVT_Fail_Lease_Payment_Flow-11.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Settings</name>
        <label>Get Settings</label>
        <locationX>45</locationX>
        <locationY>314</locationY>
        <actionName>SPVTFailInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Query_Lease_Payment</targetReference>
        </connector>
        <inputParameters>
            <name>leasePaymentId</name>
            <value>
                <elementReference>leasePaymentId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>spdAccountName</assignToReference>
            <name>spdAccountName</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>spdNotificationEmail</assignToReference>
            <name>spdNotificationEmail</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>spdNotificationName</assignToReference>
            <name>spdNotificationName</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>caseOwnerId</assignToReference>
            <name>caseOwnerId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>caseRecordTypeId</assignToReference>
            <name>caseRecordTypeId</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Set_Case_Fields</name>
        <label>Set Case Fields</label>
        <locationX>836</locationX>
        <locationY>312</locationY>
        <assignmentItems>
            <assignToReference>case.Lease_Payment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leasePayment.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leasePayment.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leasePayment.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.PV_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quote.Module__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.System_Size_kW__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quote.Maximum_Rated_Capacity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseOwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.Business_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RLC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.RLC_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Residential</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Automated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Service Fulfillment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.Categories__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PV System Design/Pre-sales</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.Case_Differentiator__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Non Product-Related</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.Department_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Design Support Engineering</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.Resolution_Owner_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GBFS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.VAR_Dept_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Energy Assurance Group</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.SPVT_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.Dealer_Installer_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dealerInstallerAccount.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.Dealer_Installer_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dealerInstallerAccount.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.Sub_Categories__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>System Performance Verification Test</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.Lease_Opportunity_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leasePayment.Lease__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.Requested_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>requestedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.Promised_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>promisedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.Area_Sales_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>partnerAccount.Area_Sales_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.RSM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>partnerAccount.RSM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.Residential_Field_Supervisor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>partnerAccount.Residential_Field_Supervisor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leasePayment.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.Date_Received__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dateReceived</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.Partner_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leasePayment.Partner_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.Project_Homeowner_s_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>projectHomeownerName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Partner_Email</name>
        <label>Set Partner Email</label>
        <locationX>724</locationX>
        <locationY>198</locationY>
        <assignmentItems>
            <assignToReference>dealerInstallerAccount.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>partnerAccount.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dealerInstallerAccount.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>partnerAccount.Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Case_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_SPD_Email</name>
        <label>Set SPD Email</label>
        <locationX>918</locationX>
        <locationY>194</locationY>
        <assignmentItems>
            <assignToReference>dealerInstallerAccount.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>spdNotificationName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dealerInstallerAccount.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>spdNotificationEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Case_Fields</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Case_Decision</name>
        <label>Case Decision</label>
        <locationX>368</locationX>
        <locationY>211</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>No_Existing_Cases</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Query_Quote</targetReference>
            </connector>
            <label>No Existing Cases</label>
        </rules>
    </decisions>
    <decisions>
        <name>Partner_Account_Decision</name>
        <label>Partner Account Decision</label>
        <locationX>840</locationX>
        <locationY>82</locationY>
        <defaultConnector>
            <targetReference>Set_SPD_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Non_SPD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>partnerAccount.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>spdAccountName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>partnerAccount.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>partnerAccount.Email__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Partner_Email</targetReference>
            </connector>
            <label>Non SPD</label>
        </rules>
    </decisions>
    <formulas>
        <name>caseSubject</name>
        <dataType>String</dataType>
        <expression>&apos;SPVT Failure - &apos; &amp; {!leasePayment.Lease__c} &amp; &apos; - &apos; &amp; {!leasePayment.Account_Name__c}</expression>
    </formulas>
    <formulas>
        <name>dateReceived</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>projectHomeownerName</name>
        <dataType>String</dataType>
        <expression>LEFT({!leasePayment.Account_Name__c}, 99)</expression>
    </formulas>
    <formulas>
        <name>promisedDate</name>
        <dataType>Date</dataType>
        <expression>CASE(MOD(TODAY()- DATE(1900, 1, 7), 7), 
	0, TODAY()+3, 
	1, TODAY()+3, 
	2, TODAY()+3,
	3, TODAY()+5, 
	4, TODAY()+5, 
	5, TODAY()+5, 
	6, TODAY()+4,
	null)</expression>
    </formulas>
    <formulas>
        <name>requestedDate</name>
        <dataType>Date</dataType>
        <expression>CASE(MOD(TODAY()- DATE(1900, 1, 7), 7), 
	0, TODAY()+3, 
	1, TODAY()+3, 
	2, TODAY()+3,
	3, TODAY()+5, 
	4, TODAY()+5, 
	5, TODAY()+5, 
	6, TODAY()+4,
	null)</expression>
    </formulas>
    <interviewLabel>SPVT Fail Lease Payment Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SPVT Fail Lease Payment Flow</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>666</locationX>
        <locationY>315</locationY>
        <inputReference>case</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Query_Account</name>
        <label>Query Account</label>
        <locationX>526</locationX>
        <locationY>86</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Query_Partner_Account</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>leasePayment.Account__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>account.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>account.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>account.Status__c</assignToReference>
            <field>Status__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Query_Existing_Cases</name>
        <label>Query Existing Cases</label>
        <locationX>369</locationX>
        <locationY>308</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Decision</targetReference>
        </connector>
        <filters>
            <field>Lease_Payment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>leasePayment.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPVT_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>caseList</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Query_Lease_Payment</name>
        <label>Query Lease Payment</label>
        <locationX>204</locationX>
        <locationY>310</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Query_Existing_Cases</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>leasePaymentId</elementReference>
            </value>
        </filters>
        <object>LeasePayment__c</object>
        <outputAssignments>
            <assignToReference>leasePayment.Account_Name__c</assignToReference>
            <field>Account_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>leasePayment.Account__c</assignToReference>
            <field>Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>leasePayment.Contact__c</assignToReference>
            <field>Contact__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>leasePayment.Dealer_Name__c</assignToReference>
            <field>Dealer_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>leasePayment.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>leasePayment.Lease__c</assignToReference>
            <field>Lease__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>leasePayment.Opportunity__c</assignToReference>
            <field>Opportunity__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>leasePayment.Partner_Account__c</assignToReference>
            <field>Partner_Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>leasePayment.Quote__c</assignToReference>
            <field>Quote__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>leasePayment.RecordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Query_Partner_Account</name>
        <label>Query Partner Account</label>
        <locationX>681</locationX>
        <locationY>83</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Partner_Account_Decision</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>leasePayment.Partner_Account__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>partnerAccount.Area_Sales_Manager__c</assignToReference>
            <field>Area_Sales_Manager__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>partnerAccount.Email__c</assignToReference>
            <field>Email__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>partnerAccount.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>partnerAccount.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>partnerAccount.RSM__c</assignToReference>
            <field>RSM__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>partnerAccount.Residential_Field_Supervisor__c</assignToReference>
            <field>Residential_Field_Supervisor__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>partnerAccount.Status__c</assignToReference>
            <field>Status__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Query_Quote</name>
        <label>Query Quote</label>
        <locationX>371</locationX>
        <locationY>88</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Query_Account</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>leasePayment.Quote__c</elementReference>
            </value>
        </filters>
        <object>Quote</object>
        <outputAssignments>
            <assignToReference>quote.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>quote.Maximum_Rated_Capacity__c</assignToReference>
            <field>Maximum_Rated_Capacity__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>quote.Module__c</assignToReference>
            <field>Module__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>quote.OpportunityId</assignToReference>
            <field>OpportunityId</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Get_Settings</startElementReference>
    <variables>
        <name>account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>caseList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>caseOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dealerInstallerAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>leasePayment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LeasePayment__c</objectType>
    </variables>
    <variables>
        <name>leasePaymentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>partnerAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>quote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>spdAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>spdNotificationEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>spdNotificationName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
