flows/SPVT_Fail_Lease_Payment_Flow-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Case_Fields</name>
        <label>Set Case Fields</label>
        <locationX>829</locationX>
        <locationY>380</locationY>
        <assignmentItems>
            <assignToReference>case.Lease_Payment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leasePayment.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leasePayment.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leasePayment.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.PV_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quote.Module__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.System_Size_kW__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quote.Maximum_Rated_Capacity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01280000000379u</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00G80000002g67g</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.Business_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RLC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.RLC_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Residential</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Automated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Service Fulfillment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.Categories__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PV System Design/Pre-sales</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.Case_Differentiator__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Non Product-Related</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.Department_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Design Support Engineering</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.Resolution_Owner_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GBFS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.VAR_Dept_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Energy Assurance Group</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.SPVT_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.Dealer_Installer_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dealerInstallerAccount.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.Dealer_Installer_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dealerInstallerAccount.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.Sub_Categories__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>System Performance Verification Test</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.Lease_Opportunity_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leasePayment.Lease__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.Requested_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>requestedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.Promised_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>promisedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.Area_Sales_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dealerInstallerAccount.Area_Sales_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.RSM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dealerInstallerAccount.RSM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.Residential_Field_Supervisor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dealerInstallerAccount.Residential_Field_Supervisor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leasePayment.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.Date_Received__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dateReceived</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.Partner_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leasePayment.Partner_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.Project_Homeowner_s_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>projectHomeownerName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Installer_Email</name>
        <label>Set Installer Email</label>
        <locationX>551</locationX>
        <locationY>220</locationY>
        <assignmentItems>
            <assignToReference>dealerInstallerAccount.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>installerAccount.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dealerInstallerAccount.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>installerAccount.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dealerInstallerAccount.Area_Sales_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>installerAccount.Area_Sales_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dealerInstallerAccount.RSM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>installerAccount.RSM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dealerInstallerAccount.Residential_Field_Supervisor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>installerAccount.Residential_Field_Supervisor__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Case_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity_Team_User_Email</name>
        <label>Set Opportunity Team User Email</label>
        <locationX>838</locationX>
        <locationY>224</locationY>
        <assignmentItems>
            <assignToReference>dealerInstallerAccount.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>opportunityTeamUser.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dealerInstallerAccount.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>opportunityTeamUser.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dealerInstallerAccount.RSM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>opportunityTeamUserAccount.RSM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dealerInstallerAccount.Area_Sales_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>opportunityTeamUserAccount.Area_Sales_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dealerInstallerAccount.Residential_Field_Supervisor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>opportunityTeamUserAccount.Residential_Field_Supervisor__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Case_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Partner_Email</name>
        <label>Set Partner Email</label>
        <locationX>966</locationX>
        <locationY>220</locationY>
        <assignmentItems>
            <assignToReference>dealerInstallerAccount.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>partnerAccount.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dealerInstallerAccount.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>partnerAccount.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dealerInstallerAccount.Area_Sales_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>partnerAccount.Area_Sales_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dealerInstallerAccount.RSM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>partnerAccount.RSM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dealerInstallerAccount.Residential_Field_Supervisor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>partnerAccount.Residential_Field_Supervisor__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Case_Fields</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Case_Decision</name>
        <label>Case Decision</label>
        <locationX>77</locationX>
        <locationY>209</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>No_Existing_Cases</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Query_Quote</targetReference>
            </connector>
            <label>No Existing Cases</label>
        </rules>
    </decisions>
    <decisions>
        <name>Installer_Account_Decision</name>
        <label>Installer Account Decision</label>
        <locationX>857</locationX>
        <locationY>79</locationY>
        <defaultConnector>
            <targetReference>Set_Partner_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>SPD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>installerAccount.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>installerAccount.Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>opportunityTeamUser.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Installer_Email</targetReference>
            </connector>
            <label>SPD</label>
        </rules>
        <rules>
            <name>TPS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>opportunityTeamUser.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Query_OpportunityTeamUserAccount</targetReference>
            </connector>
            <label>TPS</label>
        </rules>
    </decisions>
    <formulas>
        <name>caseSubject</name>
        <dataType>String</dataType>
        <expression>&apos;SPVT Failure - &apos; &amp; {!leasePayment.Lease__c} &amp; &apos; - &apos; &amp; {!leasePayment.Account_Name__c}</expression>
    </formulas>
    <formulas>
        <name>dateReceived</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!quote.OpportunityId}, {!leasePayment.Opportunity__c})</expression>
    </formulas>
    <formulas>
        <name>projectHomeownerName</name>
        <dataType>String</dataType>
        <expression>LEFT({!leasePayment.Account_Name__c}, 99)</expression>
    </formulas>
    <formulas>
        <name>promisedDate</name>
        <dataType>Date</dataType>
        <expression>CASE(MOD(TODAY()- DATE(1900, 1, 7), 7), 
	0, TODAY()+3, 
	1, TODAY()+3, 
	2, TODAY()+3,
	3, TODAY()+5, 
	4, TODAY()+5, 
	5, TODAY()+5, 
	6, TODAY()+4,
	null)</expression>
    </formulas>
    <formulas>
        <name>requestedDate</name>
        <dataType>Date</dataType>
        <expression>CASE(MOD(TODAY()- DATE(1900, 1, 7), 7), 
	0, TODAY()+3, 
	1, TODAY()+3, 
	2, TODAY()+3,
	3, TODAY()+5, 
	4, TODAY()+5, 
	5, TODAY()+5, 
	6, TODAY()+4,
	null)</expression>
    </formulas>
    <interviewLabel>SPVT Fail Lease Payment Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SPVT Fail Lease Payment Flow</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>640</locationX>
        <locationY>383</locationY>
        <inputReference>case</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Query_Existing_Cases</name>
        <label>Query Existing Cases</label>
        <locationX>167</locationX>
        <locationY>315</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Decision</targetReference>
        </connector>
        <filters>
            <field>Lease_Payment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>leasePayment.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SPVT_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>caseList</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Query_Installer_Account</name>
        <label>Query Installer Account</label>
        <locationX>706</locationX>
        <locationY>83</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Installer_Account_Decision</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunity.Installer__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>installerAccount.Area_Sales_Manager__c</assignToReference>
            <field>Area_Sales_Manager__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>installerAccount.Email__c</assignToReference>
            <field>Email__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>installerAccount.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>installerAccount.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>installerAccount.RSM__c</assignToReference>
            <field>RSM__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>installerAccount.Residential_Field_Supervisor__c</assignToReference>
            <field>Residential_Field_Supervisor__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>installerAccount.Status__c</assignToReference>
            <field>Status__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Query_Lease_Payment</name>
        <label>Query Lease Payment</label>
        <locationX>23</locationX>
        <locationY>316</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Query_Existing_Cases</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>leasePaymentId</elementReference>
            </value>
        </filters>
        <object>LeasePayment__c</object>
        <outputAssignments>
            <assignToReference>leasePayment.Account_Name__c</assignToReference>
            <field>Account_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>leasePayment.Account__c</assignToReference>
            <field>Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>leasePayment.Contact__c</assignToReference>
            <field>Contact__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>leasePayment.Dealer_Name__c</assignToReference>
            <field>Dealer_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>leasePayment.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>leasePayment.Lease__c</assignToReference>
            <field>Lease__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>leasePayment.Opportunity__c</assignToReference>
            <field>Opportunity__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>leasePayment.Partner_Account__c</assignToReference>
            <field>Partner_Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>leasePayment.Quote__c</assignToReference>
            <field>Quote__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>leasePayment.RecordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Query_Opportunity</name>
        <label>Query Opportunity</label>
        <locationX>228</locationX>
        <locationY>84</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Query_OpportunityTeamMember</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>opportunity.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>opportunity.Installer__c</assignToReference>
            <field>Installer__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>opportunity.OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Query_OpportunityTeamMember</name>
        <label>Query OpportunityTeamMember</label>
        <locationX>229</locationX>
        <locationY>208</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Query_OpportunityTeamUser</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IP</stringValue>
            </value>
        </filters>
        <object>OpportunityTeamMember</object>
        <outputAssignments>
            <assignToReference>opportunityTeamMember.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>opportunityTeamMember.UserId</assignToReference>
            <field>UserId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Query_OpportunityTeamUser</name>
        <label>Query OpportunityTeamUser</label>
        <locationX>389</locationX>
        <locationY>208</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Query_Partner_Account</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityTeamMember.UserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>opportunityTeamUser.AccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>opportunityTeamUser.ContactId</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>opportunityTeamUser.Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>opportunityTeamUser.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>opportunityTeamUser.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Query_OpportunityTeamUserAccount</name>
        <label>Query OpportunityTeamUserAccount</label>
        <locationX>699</locationX>
        <locationY>222</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Opportunity_Team_User_Email</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityTeamUser.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>opportunityTeamUserAccount.Area_Sales_Manager__c</assignToReference>
            <field>Area_Sales_Manager__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>opportunityTeamUserAccount.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>opportunityTeamUserAccount.RSM__c</assignToReference>
            <field>RSM__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>opportunityTeamUserAccount.Residential_Field_Supervisor__c</assignToReference>
            <field>Residential_Field_Supervisor__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Query_Partner_Account</name>
        <label>Query Partner Account</label>
        <locationX>538</locationX>
        <locationY>88</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Query_Installer_Account</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>leasePayment.Partner_Account__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>partnerAccount.Area_Sales_Manager__c</assignToReference>
            <field>Area_Sales_Manager__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>partnerAccount.Email__c</assignToReference>
            <field>Email__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>partnerAccount.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>partnerAccount.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>partnerAccount.RSM__c</assignToReference>
            <field>RSM__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>partnerAccount.Residential_Field_Supervisor__c</assignToReference>
            <field>Residential_Field_Supervisor__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>partnerAccount.Status__c</assignToReference>
            <field>Status__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Query_Quote</name>
        <label>Query Quote</label>
        <locationX>79</locationX>
        <locationY>83</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Query_Opportunity</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>leasePayment.Quote__c</elementReference>
            </value>
        </filters>
        <object>Quote</object>
        <outputAssignments>
            <assignToReference>quote.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>quote.Maximum_Rated_Capacity__c</assignToReference>
            <field>Maximum_Rated_Capacity__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>quote.Module__c</assignToReference>
            <field>Module__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>quote.OpportunityId</assignToReference>
            <field>OpportunityId</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Query_Lease_Payment</startElementReference>
    <variables>
        <name>case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>caseList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>dealerInstallerAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>installerAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>leasePayment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LeasePayment__c</objectType>
    </variables>
    <variables>
        <name>leasePaymentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>opportunityTeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <name>opportunityTeamUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>opportunityTeamUserAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>partnerAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>quote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
</Flow>
